.chart-card{
    background-color: #332b42;
}
.chart-card-logo{
    width: 5rem;
    height: 5rem;
    bottom:1.5rem;
}
.carousel-demo .credit-card-image {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.carousel-demo .credit-card-item-content {
    margin: .3rem;
    text-align: center;
    padding: .3rem 0;
}
.media-demo .product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
}
.media-demo .product-item .product-image {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.coin-price-carousel-container{
    width: 100%;
}
.coin-price-carousel-content{
    width: 100%;
}

